
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
  
  :root {
    --background: black;
    --color1 :#CDEAC0;
    --color2:white ;
    --color3: #e8be87 ;
    --color4: #edb366 ;
    
  }
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
 font-family: 'Roboto Condensed', sans-serif;
}

header{
background:var(--secondary);
width: 100;
display: flex;
justify-content: space-between;
text-align: center;
height: 150px;
padding: 0% 50px;
z-index: 2;
}


.navbar,
.navbar-list {
display: flex;
align-items: center;
justify-content: center;
}

.navbar {
  gap: 150px;
}
.navbar-list{
  gap: 50px;
  font-size: 20px;
}
.navbar-list a {
  color: var(--letras)
}

main {

  background-color:#CDEAC0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
}
#hero {
  margin-top: 65px;
  padding: 70px 0; 
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-info {
display: flex;
flex-direction: column;
gap: 20px;
width: 50%;
}
.hero-info h1 {
  font-size: 58px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  color: black;

}
.hero-info p {
  font-size: 20px;
  width: 70%;
  color: black;

}
.hero-info p a {
 color: black;
 background-color: #e8be87;
 width: 120px;
 padding: 10px 10px;
 border-radius: 10px;
 font-size: 20px;
 text-align: center;

 
}
.hero-image {
  width: 600px;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  
}
#about {
  margin-top: 65px;
  padding: 100px 20px; 
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.about-us h2 {
margin-top: 65px;
font-size: 50px;
display: flex;
text-align: center;
}

.about-p {
font-size: 30px;
color: black;
display: flex;
text-align: center;
}


#info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#info h2 {
font-size: 50px;
display: flex;
text-align: center;
}

.info-cards-container {
display: flex;
justify-content: space-around;
align-items: flex-start;
flex-wrap: wrap;
gap: 20px;

}

.info-card {
  font-size: 20px;
  width: 300px;
  height: 290px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: aliceblue;
  gap: 20px;
}
.info-card h3 {
  font-weight: 600;
  color: #edb366;
}

footer {
  width: 100%;
  padding: 50px 0px;
  background-color: var(--color2);
 
  
}
footer {
  width: 100%;
  padding: 50px 0;
  background-size: cover;
}

.contacto-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

}
.icon {
  width: 32px;
  margin-right: 32px;
}
.columna {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
